html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  
  .frame {
      width: 1280px;
      height: 786px;
      border: 0;
      background-color:#ffffff00;
      -ms-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -o-transform: scale(0.6);
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
  
      -ms-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
  }
  
  #container{
    width:innerWidth;
  }
  #header{
    background-color:#19AF5F;
    color:#ffffff;
    height:50px;
    width: 100%;
  }
  
  #menu{
     background-color:#19AF5F;
     height:599px;
     width:10%;
     float:left;
    
  }
  #content{
    background-color:#19AF5F;
    height:599px;
    width:90%;
    float:left;
  
  }
  
  #footer{
    background-color:#19AF5F;
    text-align:right;
  }